<div class="side-bar-header">
 <div class="header-name">
    <%= link_to 'Idea-Chat', root_path %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
    <div class="room">
      <ul class="room-name">
        <% if @rooms.exists? %>
          <% @rooms.each do |room| %>
          <li class = "room-list">
          <%= link_to room_messages_path(room) do %>
          <%= room.name %>
          <% end %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>

<div class="side-bar-footer">
  <div class="footer-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
</div>